<!-- templates/partials/modal.html -->
<div id="galleryModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="gallery-modal-content">
        <span class="prev" onclick="changeImage(-1)">&#10094;</span>
        <img class="modal-image" id="modalImage" src="" alt="Фото проекта">
        <span class="next" onclick="changeImage(1)">&#10095;</span>
    </div>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
    <p id="modalDescription" style="text-align: center; color: white; padding: 10px;"></p>
</div>